$color-def: var(--color-def, #262626);
$color-second: var(--color-second, #565656);
$color-primary: var(--color-primary, #c0d223);

$border-color-def: var(--border-color-def, #e5e5e5);
$bg-color: var(--bg-color-def, #f5f5f5);

$font-family:
  PingFangSC,
  PingFang SC,
  sans-serif;
$font-family-medium: PingFangSC-Medium, sans-serif;
$font-family-regular: PingFangSC-Regular, sans-serif;
$font-family-semibold: PingFangSC-Semibold, sans-serif;
$font-family-number: DINAlternate, sans-serif;
